@import "login.css";
.hero_Slideshow img {
    position: absolute;
    z-index: 0;
    align-items: center;
    max-height: 500px;
    width: 100%;
    object-fit: cover;
}

.btn-save {
    padding: 15px;
    background-color: #028a0f;
    color: #ffffff;
    font-weight: 500;
}

.btn-save:hover {
    background-color: #5dbb63;
    color: #071C4D;
}

.mySlides {
    display: none;
}

.map_invite img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.card_map_invite {
    opacity: 0.9;
}

.section-fail {
    height: 90vh;
}

.section-fail h1 {
    font-weight: 600;
    font-size: 26px;
    color: #FF0000;
}

.section-fail p {
    font-weight: 300;
    font-size: 18px;
    color: #b1b1b1;
}

.logo_sad img {
    max-width: 300px;
    max-height: 300px;
}

.select::-ms-expand {
    display: none;
}

.align-content-center h1 {
    font-family: "alex_brushregular";
}
