<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Invitation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='frontend/styles/login.css')}}">
    <!-- <link rel="stylesheet" href="../static/frontend/styles/login.css"> -->
</head>

<body>
    <main class="main_center">
        <div class="card">
            <div class="hero">
                <img src="{{ url_for('static', filename='frontend/images/imageCouple2.jpg') }}" alt="Couple">
                <!-- <img src="../templates/frontend/images/imageCouple2.jpg" alt="Couple"> -->
            </div>
            <div class="hero_inner">
                <img src="{{ url_for('static', filename='frontend/images/background_opacity.png') }}" alt="BG Opacity">
                <!-- <img src="../templates/frontend/images/background_opacity.png" alt="BG_Shadow"> -->
            </div>
        </div>
        <div class="page-login align-items-center">
            <div class="section-left col-12">
                <h1 class="mb-4">Terima kasih atas pesannya, <br />Semoga pernikahan kami diberkahi oleh Allah</h1>
            </div>
        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
