<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container" style="margin-left: 15rem;">
        <table class="table table-striped">
            <thead style="background-color:#FF0000">
                <tr >
                    <h1>for my beloved {{afiliasi}}</h1>
                    <h1>YTH : {{name}}</h1>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <img src="https://tlgur.com/d/gj5y6p0G" alt="">
                </tr>
            </tbody>
        </table>
    </div>
    
</body>

</html>
